{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>All Tasks</h2>
<div class="row">
    {% for task in tasks %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Task ID: {{ task.id }}</h5>
                <h5 class="card-title">{{ task.taskTitle }}</h5>
                <p class="card-text">{{ task.taskDescription }}</p>
                <p class="card-text"><strong>Categories:</strong>
                    {% for category in task.categories.all %}
                        <span class="badge badge-secondary">{{ category.categoryName }}</span>
                    {% endfor %}
                </p>
                <p class="card-text"><small class="text-muted">Assigned on: {{ task.taskAssignDate }}</small></p>
                {% if task.is_completed %}
                <p class="card-text"><strong>Completed</strong></p>
                {% else %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
                <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="{% url 'complete_task' task.id %}" class="btn btn-success">Complete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
